<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
        test

            <link rel="stylesheet" href="/stylesheets/produtos.css">

            <main>
                
                <div id="containerProdutos">
                    <div id="containerInterno">
                        <aside>
                            <h3>Filtros</h3>
                            <ul class="artistas">
                                <h4>Artistas</h4>
                                <li><a href="">Dire Straits</a></li>
                            </ul>
                            <ul class="preco">
                                <h4>Preço</h4>
                                <li><input type="checkbox" name="" id=""> R$20 a R$50</li>
                                <li><input type="checkbox" name="" id=""> R$51 a R$100</li>
                                <li><input type="checkbox" name="" id=""> R$101 a 150</li>
                            </ul>
                            <ul class="caracteristicas">
                                <h4>Características</h4>
                                <li><input type="checkbox" name="" id=""> Novo</li>
                                <li><input type="checkbox" name="" id=""> Usado</li>
                                <li><input type="checkbox" name="" id=""> Reformado</li>
                                
                            </ul>
                        </aside>
                            <p class="busca">Você buscou por <strong>Dire Straits</strong></p>
                            <div class="menus">
                                <p class="results"><strong>10</strong> produtos encontrados</p>
                                <div class="estoque">
                                    <input type="checkbox" name="" id="">
                                    <span><p>Em estoque</p></span>
                                </div>
                                <div class="ordenar">
                                    <p>Ordenar por:</p>
                                    <span><input type="text"></span>
                                </div>
                            </div>
                            <div class="resultados">
                                <% for(let p of produtos){ %>


                                <div class=`prod <%= p.id %>`>
                                    <a href="/produtos/1"><img src=<%= p.img1 %>> alt=""></a>
                                    <div class="infos">
                                        
                                        <p><strong><%= p.nome %></strong></p>
                                        <p><%= p.marca %></p>
                                        <h4><%= p.preco %></h4>
                                        <a href=""><img src="/images/produtos/heartButton.svg" alt=""></a>
                                    </div>
                                </div>
                                <% } %>
                               
                               
                                
                                 
                            </div>
                                
                            
                        
                    </div>
                </div>
                
                
            </main>

        <%- include('./partials/footer') %>
    </body>

